.*.sw?
*~
*.pyc
.pgpass
database.ini
xtraneous
.cache
.idea
sheet_*.csv
*.log
__pycache__
.tox/
MANIFEST
REDIRECT*
requirements.txt.*
select_n*_output_*.txt
*.old
src/count_lines*.py
sql_queries*
!sql_queries_visualize
sql_backup_*/
.coverage*
coverage*
*.txt
!LICENSE.txt
!requirements.txt
set_envs*.sh
sql_all
!sql_all/sql_queries_visualize/all_dates_all_cols_no_bedtime_with_no_data.sql
